$background-color: #F4F5F7;
$primary-color   : #1252A6;
$secondary-color : #EEE8A9;


.addAdFormConParent {
    height: 100vh;

    background-color: #fff;
    .addAdFormContainer {
        width: 100%;
        margin: 0 auto;
        padding: 10px;

        .header {
            margin-bottom: 5px;
            display: flex;

            .closeIcon {
                font-size: 40px;
                cursor: pointer;
            }
            
            p {
                font-size: 20px;
                margin-right: 30px;
                margin-top: 8px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 500px;

            div {
                display: flex;
                justify-content: space-between;

                input {
                    width: 75%;
                }

                p {
                    font-weight: bolder;
                    color: $primary-color;
                    height: 50px;
                    width: 22%;
                    text-align: center;
                    padding-top: 11px;
                    background-color: #eee8a942 ;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                }
            }

            label {
                .uploadImage {
                    padding: 8px;
                    font-size: 90px;
                    color: $primary-color;
                    background-color: $secondary-color;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    border-radius: 5px;
                }

                p {
                    color: $primary-color;
                }
            }

            input, textarea, select {
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                resize: none;
                border: none;
                height: 50px;
                background-color: #eee8a942 ;

                &::placeholder {

                    color: $primary-color;
                }

                &:focus {
                    outline: 1px $primary-color dashed;
                }
            }

            textarea {
                height: 80px;
            }
        
            
            select {
                background-color: #eee8a942 ;
                width: 60%;
                height: 50px;
                color: $primary-color;
                
              
            }
            input[type="file"] {
                display: none;
            }
            
            .shareBtn {
                background-color: $secondary-color;
                height: 50px;
                color: $primary-color;
                font-size: 18px;
                font-weight: 600;
            }

            .shareBtn:hover {
                background-color: #D6D4D6;

            }
            
        }
    }
}


@media screen and (min-width: 567px ) {
    .addAdFormConParent {

        padding: 5% 12%;

    }
}