$background-color: #F4F5F7;
$primary-color   : #1252A6;
$secondary-color : #EEE8A9;


.categoryBarConParent {

    .categoryBarContainer {

        .categoryBar {
            display  : flex;
            flex-wrap: wrap;

            .category {
                border : 1px $secondary-color dashed;
                display: flex;
                height : 28px;
                padding: 3px;
            }


            a {
                // margin-left: 10px;

                p {
                    color: $primary-color;
                }


            }

            a {
                text-decoration: none;


            }
        }
    }
}

//------------------full screen--------------------------//

@media screen and (min-width: 763px) {

    .categoryBarConParent {
        .categoryBarContainer {
            .categoryBar {
                display       : flex;
                flex-direction: column;

                .category {
                    border       : 0px;
                    margin-right : 130px;
                    border-bottom: 1px $primary-color solid;
                    width        : 140px;
                    flex: 1;
                    margin: 0 auto;
                }


                a {
                    margin-bottom : 10px;
                    height        : 30px;
                    // padding: 3px;
                    // margin-left: 10px;

                    p {
                        color       : $primary-color;
                        margin-right: 10px;

                    }


                }

                a {
                    text-decoration: none;


                }
            }
        }

    }
}