$background-color: #F4F5F7;
$primary-color   : #1252A6;
$secondary-color : #EEE8A9;


.categoryBarConParent {

    .categoryBarContainer {

        .categoryBar {
            display  : flex;
            flex-wrap: wrap;

            .category {
                border : 1px $secondary-color dashed;
                display    : flex;
                height: 28px;
                padding: 3px;
            }

            
            a {
                // margin-left: 10px;

                p {
                    color: $primary-color;
                }

               
            }

            a {
                text-decoration: none;


            }
        }
    }
}