$background-color: #F4F5F7;
$primary-color   : #1252A6;
$secondary-color : #EEE8A9;

.categoriesContainer {

    .categoryTitle {
        margin-top: 80px;


        p {
            font-size    : 20px;
            border-bottom: $primary-color solid 2px;
            width        : 60px;
            color        : black !important;
        }
    }

    .categories {
        

        margin-top: 10px;
        padding: 3px;

        .category {
            margin: 0;
            padding: 3px;
            .categoryCard {

                margin-bottom: 10px;
                box-shadow   : rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                transition   : transform 0.4s;

                h2 {
                    border-top      : 1px dashed black;
                    display         : flex;
                    align-items     : center;
                    padding-right   : 16px;
                    height          : 70px;
                    width           : 100%;
                    color           : $secondary-color !important;
                    margin-top      : 15px;
                    font-size       : 30px;
                    position        : absolute;
                    bottom          : -8px;
                    background-color: rgba(0, 0, 0, 0.534);

                }

                .categoryImage {
                    transition: transform 0.4s;
                    position  : relative;

                }

                .categoryImage:hover {
                    transform: scale(1.2);
                }
            }

            .categoryCard:hover {
                transform: scale(1.03);
            }
        }
    }

}


@media screen and (max-width: 767px) {
    .categoriesContainer {

        .categoryTitle {
            margin-top: 30px;
            
            p {
                font-size: 18px;
                width        : 50px;


            }

        }
    
        
        .categories {
            margin-top: 10px;
            .category {

                .categoryCard {

                    h2 {
                        height: 60px;
                        font-size: 20px;
                    }
                }

            }
        }
    }

}