$background-color: #F4F5F7;
$primary-color   : #1252A6;
$secondary-color : #EEE8A9;


.tableDashConParent {
    margin-top         : 20px;
    // background-color: #fff;

    .tableDashContainer {
        // padding: 20px;
        display: none;
        width  : 100%;

        .addProduct {
            display        : flex;
            justify-content: space-between;

            
            a {
                text-decoration: none;
                color           : $primary-color;
            }
            .addProductBtn {
                color           : $primary-color;
                width           : 230px;
                height          : 50px;
                background-color: $secondary-color;
                transition      : all .4s;

                .addIcon {
                    margin-right: 8px;
                }
            }

            .addProductBtn:hover {
                background-color: #D6D4D6;
            }

            p {
                height    : 5px;
                margin-top: 7px;
            }


        }

        .table {
            margin-top: 15px;

            .tableBody {
                align-self: center;

                .tableRow {}
            }
        }


    }

    .cardDashContainer {

        margin: 0 auto;
        // width : 90%;
        a {
            text-decoration: none;
            color: $primary-color;
           
        }
        .addProductBtn {
            color           : $primary-color;
            width           : 170px;
            height          : 50px;
            background-color: $secondary-color;
            transition      : all .4s;

            .addIcon {
                margin-right: 8px;
            }
        }

        .addProductBtn:hover {
            background-color: #D6D4D6;
        }

        .card {
            background-color: #fff;
            border          : 1px #EEE8A9 dashed;
            padding         : 0 10px;
            border-radius   : 5px;
            height          : 155px;
            margin-top          : 8px;
            box-shadow      : rgb(0 0 0 / 18%) 0px 2px 4px;

            .row1 {
                text-align: left;
                height    : 30px;

                .editIcon {
                    margin       : 10px;
                    color        : $primary-color;
                    padding      : 3px;
                    font-size    : 30px;
                    border-radius: 5px;

                }

                .deleteIcon {
                    color        : $primary-color;
                    padding      : 3px;
                    font-size    : 30px;
                    border-radius: 5px;
                }

                .editIcon:hover {
                    color           : green;
                    background-color: rgba(161, 156, 156, 0.473);
                }

                .deleteIcon:hover {
                    color           : red;
                    background-color: rgba(161, 156, 156, 0.473);
                }
            }

            .row2 {
                display: flex;

                // margin-right: 5px;
                h3 {
                    margin-right: 15px;
                    margin-top  : 8px;
                }

            }

            .row3 {
                display        : flex;
                margin-top     : 18px;
                font-size      : 13px;
                justify-content: space-between;

            }
        }
    }
}

@media screen and (min-width: 567px) {
    .tableDashConParent {

        .tableDashContainer {
            display: inline-block;
        }

        .cardDashContainer {
            display: none;
        }
    }
}