$background-color: #F4F5F7 ;
$primary-color: #1252A6;
$secondary-color: #EEE8A9 ;


.footerConParent {
    margin-top: 200px;
    border-top: 3px $primary-color solid;
    height: 200px;

    .footerContainer {

        .footerRowOne {
            margin-top: 20px;

            h3 {
                text-align: center;
            }
            .footerContact {
                margin-top: 15px;
                display: flex;
                flex: 1;
                justify-content: space-evenly;

                
                div {

                    display: flex;
                    
                    .footerIcon {
                        font-size: 35px;
                        color: $primary-color;
                    }

                    p {
                        margin: 4px;
                        margin-right: 5px;
                        align-self: center;
                    }
                }
            }

        }

        .footerRowTwo {

        }
    }
}