$background-color: #F4F5F7 ;
$primary-color: #1252A6;
$secondary-color: #EEE8A9 ;


.footerConParent {
    margin-top: 200px;
    height: 200px;
    
    .footerContainer {
        border-top: 3px $primary-color solid;
        height: 240px;
        background-color: #ffff;

        .footerRowOne {
            margin-top: 20px;
            justify-content: center;

            h3 {
                text-align: center;
                font-size: 20px;
            }
            .footerContact {
                max-width: 80%;
                margin-top: 15px;
                display: flex;
                flex: 1;
                justify-content: space-evenly;
                flex-wrap: wrap;

                
                .div {

                    display: flex;
                    
                    .footerContactIcon {
                        font-size: 35px;
                        color: $primary-color;
                    }

                    p {
                        margin: 4px;
                        margin-right: 5px;
                        align-self: center;
                    }
                }
            }

        }

        .footerRowTwo {
            margin-top: 25px ;

            h3 {
                text-align: center;
                font-size: 20px;

            }

            .footerFollow {
                display: flex;
                justify-content: center;
                margin-top: 10px;
                // margin-bottom: 20px;

                .div {
   
                    .footerFollowIcon {
                        border-radius: 50%;
                        font-size: 50px;
                        padding: 10px;
                        margin-left: 20px;
                        

                        
                    }
                    .faFollow {
                        color: white;
                        
                        background-color:  #537BBD ;
                        
                    }
                    
                    .liFollow {
                        color: white;
                        background-color:  #0E76A8;
                        
                    }
                    
                    .giFollow {
                        color: white;
                        background-color:  #333;

                    }
                }
            }


        }

    }
    .CopyRight {
        border-top: $primary-color 1px solid;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
     
    }
}



/*--------------------------- media query ----------------------*/

@media screen and (max-width: 767px) {
    .footerConParent {

        .footerContainer {
            height: 270px ;
            
        }
    }


    
}




