$background-color: #F4F5F7;
$primary-color   : #1252A6;
$secondary-color : #EEE8A9;

/*  --------------------------- mobile screen ------------*/

.mainNav {
    background-color: $primary-color !important;
    border-bottom   : 2px solid #f3e117;

    .logoTitle {
        color: $secondary-color;
    }


    .headerToggle {
        color: $secondary-color;

    }

}

.signPhone {

    height       : 30px;
    display      : flex;
    margin       : 3px auto 0 13px;
    border       : $secondary-color solid 1px;
    padding      : 5px;
    margin-bottom: 12px;

    a,
    p {
        color          : $secondary-color;
        font-size      : small;
        margin-left    : 10px;
        text-decoration: none;
        margin-right   : 5px;

        transition: all .4s;

    }

    a:hover {
        opacity: .7;
    }
}

.navCollapse {

    a {
        margin-top     : 15px;
        margin-right   : 10px;
        text-decoration: none;
        transition     : all .4s;
        padding-bottom : 10px;
        color          : $secondary-color;
    }

    a:hover {
        padding         : 6px;
        background-color: $background-color;
        color           : black !important;
    }
}


/* ------------------------------ lab screen -------------------*/

.secondNav {
    border-bottom   : 2px solid #f3e117;
    height          : 110px;
    padding         : 20px 30px;
    display         : none;
    background-color: $primary-color;


    .firstRow {
        .colOne {

            h2 {
                color: $secondary-color;

            }


        }

        .colTwo {
            padding       : 5px;
            max-width     : 230px !important;
            height        : 35px;
            display       : flex;
            flex-direction: row-reverse;
            border        : $secondary-color solid 1px;



            a {
                text-decoration: none;
                transition     : all .4s;
            }

            a,
            p {
                margin-left: 10px;
                color      : $secondary-color;
            }

            a:hover {
                opacity: .7;
            }

        }
    }

    .secondRow {
        margin-top: 6px;

        .colOne {
            display: flex;



        }

        a {
            color          : $secondary-color;
            text-decoration: none;
            margin-left    : 40px;
            transition     : all .4s;
        }

        a:hover {
            background-color: $background-color;
            color           : black !important;
            padding         : 7px;
        }

    }
}


/* ------------------------------- media query ----------------------*/

@media screen and (min-width:634px) and (max-width: 844px) {

    .signPhone {



        margin: 0 auto 0 80px;

        p {
            font-size  : small;
            margin-left: 10px;
            color      : $secondary-color;

        }
    }

}

@media screen and (min-width: 900px) and (max-width:3000px) {
    .signPhone {

        display: none !important;
    }

    .navCollapse {
        display: none !important;
    }

}


@media screen and (min-width: 765px) {

    .firstNav {
        display: none;
    }

    .secondNav {
        display: block;
    }
}