


.header {
    background-color: #1252A6 !important ;
    height: 80px ;
    // padding: 0 35px;

    // .logo {
    //     margin-top: 15px;
    // }
    
    // .nav {
    //     display: flex;
    //     list-style: none;

    //     div {
    //         margin-top: 10px;
    //         margin-left: 30px;
    //     }
    // }

    // .sign {
    //     text-align: left;
    //     margin-top: 18px;

    // }
}


// @media screen and (max-width: 700px) {
//     .header {
//         height: 70px ;
//         .nav {
//             display: none;
//         }

//         .logo {
//             display: flex;

//         }
//         .iconBarDev {
//             margin-top: 7px;
//             text-align: left;

//             .iconBar {
//                 font-size: 50px;
//             }
           
//         }
//     }
    
// }
// @media screen and (min-width: 700px) {
//     .iconBarDev {
//         display: none;
//     }
    
// }


