$background-color: #F4F5F7;
$primary-color   : #1252A6;
$secondary-color : #EEE8A9;

// .signUpConParent { 
//     // min-height: 100vh;
//     margin-top: 100px;
//     .signUpForm {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         input {
//             margin-bottom: 18px;
//             height: 45px;
//             width: 280px;
//             outline: none;
//             transition: all 1s ease-out;
//             padding-right: 8px;
//             font-size: 15px;
//         }
//         input:focus::placeholder{
//             border: $primary-color 2px solid ;
//             visibility: hidden;

//         }
//         .fullNameInput {
//             display: flex;
//             width: 278px;
//             justify-content: space-between;
//             input {
//                 width: 135px;
//                 height: 45px;            
//             }
//         }
//         .creatAccountBtn {
//             background-color: $secondary-color;
//             color: $primary-color !important;
//             font-weight: bold;
//             font-size: 20px;
//         }
//         a{
//             text-decoration: none;
//         }
//     }
// }
// .inputGroup {
// 	position: relative;
// 	margin-top: 15px;
// 	margin-bottom: 25px;

// 	.floatinglabel {
// 		font-size: 13px;
// 		color: #cccccc;
// 		position: absolute;
// 		pointer-events: none;
// 		top: 9px;
// 		left: 12px;
// 		transition: all 0.1s ease;
// 	}

// 	input:focus ~ .floatinglabel,
// 	input:not(:focus):valid ~ .floatinglabel {
// 		top: -15px;
// 		bottom: 0px;
// 		left: 0px;
// 		font-size: 11px;
// 		opacity: 1;
// 		color: #404040;
// 	}
// }

// .row {
// 	margin-top: 50px;
// }


/****/

$background-color: #F4F5F7;
$primary-color   : #1252A6;
$secondary-color : #EEE8A9;

.signUpConParent {
    // min-height: 100vh;
    margin-top: 100px;

    .signUpForm {
        display       : flex;
        flex-direction: column;
        align-items   : center;

        .inputGroup {
            position: relative;

            margin-bottom: 25px;

            .floatingLabel {
                font-size     : 20px;
                font-weight   : bolder;
                color         : #cccccc;
                position      : absolute;
                pointer-events: none;
                top           : 9px;
                left          : 12px;
                transition    : all 0.1s ease;
                right         : 0
            }

            input:focus~.floatingLabel,
            input:not(:focus):valid~.floatingLabel {
                top      : -20px;
                bottom   : 0px;
                left     : 0px;
                font-size: 15px;
                opacity  : 1;
                color    : $primary-color;

            }
        }

        .row {
            margin-top: 50px;
        }

        input {
            height: 45px;
            width : 280px;
        }

        .fullNameInput {
            display        : flex;
            width          : 278px;
            justify-content: space-between;

            input {
                width : 135px;
                height: 45px;
            }
        }

        .creatAccountBtn {
            background-color: $secondary-color;
            color           : $primary-color !important;
            font-weight     : bold;
            font-size       : 20px;
        }

        a {
            text-decoration: none;
        }
    }
}