$background-color: #F4F5F7;
$primary-color   : #1252A6;
$secondary-color : #EEE8A9;

.signUpConParent {
    // min-height: 100vh;
    // margin-top: 100px;
    padding: 50px;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    
    h4 {
        text-align: center;
        margin-bottom: 50px;
    }

    a {
      
        margin-top: 30px;
        // text-decoration: none;
    }


    .signUpForm {
        margin-bottom: 14px;

        display       : flex;
        flex-direction: column;
        align-items   : center;

        .inputGroup {
            position: relative;

            margin-bottom: 25px;

            .floatingLabel {
                font-size     : 13px;
                font-weight   : bolder;
                color         : #ada9a9;
                position      : absolute;
                pointer-events: none;
                top           : 9px;
                left          : 12px;
                transition    : all 0.1s ease;
                right         : 0;
                padding-right : 8px;
            }

            input:focus~.floatingLabel,
            input:not(:focus):valid~.floatingLabel {
                top        : -20px;
                bottom     : 0px;
                left       : 0px;
                font-size  : 13px;
                opacity    : 1;
                color      : $primary-color;
                font-weight: bolder;
              
            }
        }

        .row {
            margin-top: 50px;
        }

        input {
            height: 45px;
            width : 250px;
            background-color: rgba(211, 211, 211, 0.404);
            outline: none;
            border: 1px $primary-color solid;

        }

        .fullNameInput {
            display        : flex;
            width          : 250px;
            justify-content: space-between;

            input {
                width : 120px;
                height: 45px;
                
            }
        }

        .creatAccountBtn {
            background-color: $secondary-color;
            color           : $primary-color !important;
            font-weight     : bold;
            font-size       : 20px;
            width           : 250px;

        }

        a {
            text-decoration: none;
        }
    }
}



@media screen and (min-width: 763px) {

    .signUpConParent {

        width: 600px;
        height: 520px;
  

        .signUpForm {
            input {
                height: 60px;
                width : 300px;    
            }
    
            .fullNameInput {
                width          : 300px;
                input {
                    width : 145px;
                    height: 60px;
                    
                }
            }

            .creatAccountBtn {
                width           : 300px;
    
            }
    
        }


        a {
            margin-right: 100px;
        }
    }
    


    
}