$background-color: #F4F5F7 ;
$primary-color: #1252A6;
$secondary-color: #EEE8A9 ;

.subscribeContainer {
    margin-top: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;

    .subscribeParagraph {

    }

    .subscribeButton {
        width: 300px;
        height: 75px;
        background-color: $secondary-color;
        color: $primary-color !important;
        font-weight: bold;
        font-size: 20px;

    }    

    a {
        text-decoration: none;
        
    }
}

@media screen and (max-width: 567px) {
    .subscribeContainer {

    .subscribeButton {
        width: 220px;
        height: 55px;

    }    

}

    
}