
.signInPageContainer {
    display: flex;
    // justify-content: space-between;
    

    .HeroSign {
       width: 50%;
       

    }

    .SignIn {
        // width: 90%;
        margin: 0 auto;
        // margin-top: 18%;
        margin-top: 70px;
     

    }
}

@media screen and (max-width: 700px) {
    .signInPageContainer {
        // flex-direction: column;

        .HeroSign {
            display: none;
            
     
         }
    }
    
}

